@{
    ViewData["Title"] = "Pagina registro";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<div class="page-header min-vh-75">
    <div class="container mt-8">
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card bg-white shadow-lg border-0 h-100">
                        <img src="../plantilla/img2/clase.jpg" class="card-img-top img-fluid" alt="session">
                        <div class="card-body p-3">
                            <h5 class="font-weight-bolder">Bienestar y Energía en Cada Clase</h5>
                            <p class="mb-4">Desde Pilates hasta spinning, cada sesión está diseñada para revitalizar cuerpo y mente.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mb-4">
                    <div class="card bg-white shadow-lg border-0 h-100">
                        <img src="../plantilla/img2/sesion.jpg" class="card-img-top img-fluid" alt="session">
                        <div class="card-body p-3">
                            <h5 class="font-weight-bolder">Súbete a la Bici: Clases de Spinning</h5>
                            <p class="mb-4">Nuestras sesiones están diseñadas para desafiar y motivar. Ya seas un principiante que busca mejorar su salud o un atleta experimentado que busca un nuevo desafío, encontrarás tu lugar entre nosotros. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="row justify-content-center">
                <div class="col-lg-6 mb-4">
                    <div class="card bg-white shadow-lg border-0 h-100">
                        <img src="../plantilla/img2/pilates.jpg" class="card-img-top img-fluid" alt="session">
                        <div class="card-body p-3">
                                <h5 class="font-weight-bolder">Equilibrio y Coordinación en Nuestras Clases de Pilates</h5>
                                <p class="mb-4">Nuestros instructores expertos te guiarán en cada paso del camino. Únete a nuestra comunidad activa y transforma tu cuerpo mientras te diviertes y te superas a ti mismo.</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
