@{
    ViewData["Title"] = "Pagina registro";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}
<div class="container mt-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card bg-white shadow-lg border-0">
                    <img src="../plantilla/img2/index.jpg" class="card-img-top img-fluid rounded-top" alt="Harmony Gym">
                    <div class="card-body p-4">
                        <h4 class="font-weight-bolder mb-3">Descubre una Experiencia Fitness Completa en Harmony Gym</h4>

                        <p class="mb-4 fs-5">Explora nuestras diversas opciones de membresía diseñadas para satisfacer tus necesidades y objetivos de fitness:</p>

                        <p class="fs-5"><strong>Horario y Reservas:</strong> Disfruta de nuestra instalación todos los días de la semana, de lunes a domingo, desde las 5:00 AM hasta las 9:00 PM. Puedes reservar tus clases y elegir el horario que mejor se adapte a tu rutina para asistir al gimnasio.</p>

                        <p class="fs-5"><strong>Gimnasios en Toda Costa Rica:</strong> Con múltiples ubicaciones estratégicas en el país, estamos siempre cerca para brindarte comodidad y accesibilidad.</p>

                        <p class="fs-5"><strong>Planes de Membresías:</strong></p>
                        <ul class="fs-5">
                            <li><strong>Adulto Mayor:</strong> $35 mensuales</li>
                            <li><strong>Estudiantes:</strong> $35 mensuales</li>
                            <li><strong>Grupos de 2:</strong> $45 mensuales por persona</li>
                            <li><strong>VIP:</strong> $60 mensuales con acceso exclusivo a servicios premium y clases especiales</li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>