@{
    ViewData["Title"] = "Pagina registro";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}
<div class="container mt-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card bg-white shadow-lg border-0">
                    <img src="../plantilla/img2/gym.jpg" class="card-img-top img-fluid rounded-top" alt="Harmony Gym">
                    <div class="card-body p-4">
                        <h4 class="font-weight-bolder mb-3">Descubre una Experiencia Fitness Completa en Harmony Gym</h4>

                        <p class="mb-4">En Harmony Gym, nuestra misión es simple: ayudarte a alcanzar tus metas fitness de manera efectiva y placentera. Nuestro gimnasio ofrece una amplia gama de servicios diseñados para satisfacer todas tus necesidades de entrenamiento.</p>

                        <h5 class="font-weight-bold mb-3">Entrenamientos Personalizados</h5>
                        <p class="mb-4">Nuestros entrenadores certificados están aquí para guiarte en cada paso del camino. Desde rutinas personalizadas hasta asesoramiento nutricional, te proporcionamos el apoyo necesario para maximizar tu rendimiento y alcanzar tus objetivos de forma segura y eficiente.</p>

                        <h5 class="font-weight-bold mb-3">Clases Grupales Dinámicas</h5>
                        <p class="mb-4">Sumérgete en nuestra vibrante comunidad participando en nuestras clases grupales. Desde spinning y yoga hasta entrenamiento funcional, nuestras sesiones están diseñadas para desafiar y motivar a todos los niveles de condición física. Descubre la energía de entrenar en grupo y supera tus límites mientras te diviertes.</p>

                        <h5 class="font-weight-bold mb-3">Equipamiento de Última Generación</h5>
                        <p class="mb-4">En Harmony Gym, ponemos a tu disposición equipos de última tecnología para garantizar una experiencia de entrenamiento superior. Desde máquinas cardiovasculares hasta áreas de peso libre y entrenamiento funcional, nuestro gimnasio está equipado para satisfacer todas tus necesidades de ejercicio.</p>

                        <h5 class="font-weight-bold mb-3">Únete a la Familia Harmony</h5>
                        <p class="mb-0">Ya seas un principiante o un atleta experimentado, en Harmony Gym encontrarás un ambiente acogedor y motivador donde puedes crecer y prosperar. Únete a nuestra comunidad fitness y comienza tu viaje hacia una vida más saludable y activa hoy mismo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
