USE [master]
GO
/****** Object:  Database [CasoEstudioJN]    Script Date: 8/26/2024 4:02:39 PM ******/
CREATE DATABASE [CasoEstudioJN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CasoEstudioJN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CasoEstudioJN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CasoEstudioJN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\CasoEstudioJN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CasoEstudioJN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CasoEstudioJN]
GO
/****** Object:  User [km]    Script Date: 8/26/2024 4:02:39 PM ******/
CREATE USER [km] FOR LOGIN [km] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[CasasSistema]    Script Date: 8/26/2024 4:02:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CasasSistema](
	[IdCasa] [int] IDENTITY(1,1) NOT NULL,
	[DescripcionCasa] [varchar](30) NOT NULL,
	[PrecioCasa] [decimal](10, 2) NOT NULL,
	[UsuarioAlquiler] [varchar](30) NULL,
	[FechaAlquiler] [datetime] NULL
) ON [PRIMARY]
GO
USE [master]
GO
